zerombr
clearpart --all --initlabel
part /boot --asprimary --size=512 --fstype xfs --ondisk=vda
part /boot/efi --asprimary --size 512 --asprimary --fstype=vfat --ondisk=vda
part pv.01  --fstype=lvmpv --grow --ondisk=vda
volgroup rhel pv.01
logvol / --fstype=xfs --size=12360 --name=root --vgname=rhel
network --activate --device=link --onboot=on --hostname={{ microshift_instance_name | default('microshift', true) }}
ostreesetup --osname=rhel --url=file:///run/install/repo/ostree/repo --ref=rhel/9/x86_64/edge --nogpg
cmdline
reboot

%post --log=/var/log/anaconda/post-install.log --erroronfail

# Add the pull secret to CRI-O and set root user-only read/write permissions
cat > /etc/crio/openshift-pull-secret << EOF
{{ microshift_pull_secret }}
EOF
chmod 600 /etc/crio/openshift-pull-secret

# Configure the firewall with the mandatory rules for MicroShift
firewall-offline-cmd --zone=trusted --add-source=10.42.0.0/16
firewall-offline-cmd --zone=trusted --add-source=169.254.169.1
firewall-offline-cmd --zone=public --add-port=6443/tcp --add-port=443/tcp --add-port=80/tcp --add-port=31883/tcp

curl -o /root/oc.tar.gz "https://mirror.openshift.com/pub/openshift-v4/clients/ocp/stable-4.14/openshift-client-linux.tar.gz"
tar -xvf /root/oc.tar.gz -C /usr/local/bin
%end
